extends layout
block content
    .container
        h1 Consents granted to other users to see my data
        br
        div
            table.table-striped
                thead
                    tr
                        th Granted to
                        th
                tbody
                    each item in grantedTo
                        tr
                            td #{item.receiver}
                            td
                                if(user == ofUser)
                                    a(href="/consents/deleteconsent/consentid/#{item._id}" ) delete
        br
        h1 Consents granted by users so that I can see their data
            br
        div
            table.table-striped
                thead
                    tr
                        th Granted by user
                        th show data
                tbody
                    each item in grantedBy
                        tr
                            td #{item.sender}
                            td
                                a(href="/data/showdata/#{item.sender}" ) show