extends layout
block content
    .container
        h1 Share data
        p.lead Grant acceess to your data to other members.
        br
        form(role='form', action="/consents/grantdataaccess",method="post", style='max-width: 300px;')
            .form-group
                label Selects
                select(name='receiver', placeholder='Choose person to grant access').form-control
                    each username in usernames
                        option(value=username) #{username}
            button.btn.btn-default(type='submit') Submit
            a(href='/')
                button.btn.btn-primary(type="button") Cancel