extends layout

block content
  ul
    li
      a(href='/data/showdata/#{user}') Show my data
    li
      a(href='/data/adddata') add data item
    li
      a(href='/consents/allconsents') Show consents
    li
      a(href='/consents/grantdataaccess') add new consent
    li
      a(href="/logout") logout

