body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.productDetail {
  color: red;
  font-style: italic;
}

.createForm {
  padding: 10px;
  border : solid 2px black;
}